@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* Over-ride browsers default margin, padding and border */
*{
margin: 0;
padding: 0;
border: none;
}

body
{
font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
font-weight: 200; 
color: darkslategrey;
background-color: rgb(250, 237, 202, 0.5);
}

h1
{
text-transform: uppercase;
letter-spacing: 4px;
color: darkslategrey;
font-size: 50px;
}

#logo
{
float: left;
}

#nav-links
{
font-size: 120%;
letter-spacing: 4px;
}

#nav-links li
{
float: right;
list-style-type: none;
margin-right: 20px;
}

#nav-links a
{
color: inherit;
text-decoration: none;
}

/* Align the Logo and the nav links so they are horizontally aligned */
#nav-links, #logo
{
line-height: 80px;
}

/* Add a border-bottom when the link is hovered over */
#nav-links a:hover
{
border-bottom: 1px solid darkslategrey;
}

/* Invert the background when the link is clicked so the user has some visible feedback */
#nav-links a:active
{
background-color: darkslategrey;
color: #ffff;
}

#index-image-container
{
clear: both;
height: 600px;
width: 100vw;
position: relative;
}

#top-index-image
{
background: url('../images/sunset-yoga.webp') no-repeat center center;
height: 600px;
width: 100vw;
background-size: cover;    
}

h2
{
text-transform: uppercase;
letter-spacing: 4px;
color: darkslategrey;
font-size: 30px;
margin-top: 10px;
text-align: center;
}

/* Contains the styling for the quote boxes on all four pages */
.quote-text
{
font-size: 130%;
letter-spacing: 4px;
height: 220px;
width: 270px;
color: darkslategrey;
font-weight: 700;
right: 180px;
bottom: 10px;
position: absolute;
font-style: italic;
background-color: rgb(237, 220, 92, .8);
padding: 10px;
border-radius: 20px;
}


#about-us, #benefits
{
  border: 2px solid darkslategrey;
  border-radius: 30px;
  height: 250px;
  display: inline-block;
  width: 48%;
  text-align: left;
  /*https://stackoverflow.com/questions/7083516/alignment-issue-with-inline-blocks-of-different-heights - vertical-align to resolve height issues*/
  vertical-align: top;
  margin-top: 20px;
  padding-top: 10px;
}

#about-us
{
  margin-left: 10px;
  padding: 0 10px 0 10px;
}

#benefits
{
float: right;
margin-right: 10px;
padding: 0 10px;
}

#benefits-list
{
display: inline-block;
text-align: left;
}

#benefits-list li
{
margin-bottom: 2px;
list-style-position: inside;
}

footer
{
height: 100px;
}

.socials
{
text-align: center;
}
/* Style any i class contained in .socials class */
.socials i
{
margin: 1%;
padding: 2%;
color: darkslategrey;
font-size: 125%;
}

.socials > li
{
display: inline;
}


/*Types of yoga page*/

#types-img-container
{
clear: both;
height: 600px;
width: 100%vw;
position: relative;
}

#yoga-types-image
{
background: url('../images/sunset-yoga2.jpeg') no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
}

h3
{
margin: 10px 0 8px 0;
text-decoration: underline;
}

#yoga-types
{
width: 100%;
margin-top: 10px;
}

#yoga-types div
{
width: 16.3%;
height: 220px;
float: left;
padding: 10px;
text-align: center;
border: 2px solid darkslategrey;
box-sizing: border-box;
border-radius: 30px;
margin: 2px;
}

#yoga-types h2
{
margin: 20px 0 20px 0;
}

/* Tutorials Page*/

#tutorials-img-container
{
clear: both;
height: 600px;
width: 100%vw;
position: relative;
}

#tutorials-image
{
background: url('../images/sunset-yoga3.jpeg') no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
}

/*Video styling*/

.tutorials-outer
{
margin: 20px;
text-align: center;
}

.tutorials-outer h2
{
margin: 10px 0 10px 0;
}

.tutorial-videos
{
width: 30%;
height: 300px;
display: inline-block;
text-align: center;
margin: 0 25px 0 25px;
border: 2px solid darkslategrey;
border-radius: 30px;
}

.tutorial-videos iframe
{
height: 200px;
width: 80%;
}

/*sign-up.html*/

#signup-image-container
{
clear: both;
height: 600px;
width: 100%vw;
position: relative;
}
#signup-image
{
background: url('../images/sunset-yoga4.jpeg') no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
}
/*Outer form section*/
#form-outer
{
    height: 300px;
    width: 50%;
    text-align: center;
    background-color: rgb(237, 220, 92);
    border-radius: 20px;
    margin: 25px 30% auto 25%;
    display: grid;
    justify-content: center;
    color: darkslategrey;
}
/* styles for form labels, inputs and button */
.form-input
{
    width: 100%;
    text-align: center;
    padding: 12px 100px;
    margin: 10px 0;
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  #submit-button 
  {
    width: 50%;
    background-color: white;
    color: darkslategrey;
    padding: 20px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: inherit;
    font-size: 120%;
    font-weight: 700;
  }

  #submit-button:hover
  {
    background-color: darkslategrey;
    color: white;
  }
 
  /*Media queries*/
  /*Breakpoints referenced from https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

  /* Extra large devices (large laptops and desktops, 1200px and up)  */
  /* @media screen and (min-width: 1200px)
  {

   #index-intro
   {
    margin-left: 70px;
    
   }

   footer
   {
    clear: both;
   }

/*types.html*/
   /* #yoga-types
   {
    margin-left: 50px;
   }

/*tutorials.html*/
  /* .tutorials-outer
  {
    margin-left: 130px;
  }
  
  .tutorial-videos
   {
    width: 95%;
   }

  }  */


  /*Medium screen sizes 992px laptops and desktops*/
  /*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
  /* @media screen and (min-width: 950px)
  {
    #index-intro
    {
      display: block;
    }
    
    #benefits
    {
      clear: left;
    }
    
    #nav-links
    {
      clear: left;
      float: left;
    }
  } */

  /*Medium screen sizes 768px - landscape lablets*/
  /*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
  @media only screen and (min-width: 768px)
  {
   /*index.html*/
   /*Restyle margins*/
   #about-us, #benefits
   {
    width: 95%;
   }

   h1
   {
    font-size: 90%;
   }

   #nav-links
   {
    clear: left;
    float: left;
   }
  }

  /*Small - medium screen sizes - large phones & portrait tablets*/
  /*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
  @media only screen and (min-width: 600px)
  {
    /*index.html*/
    /*target the logo and nav links*/
    h1, #nav-links
    {
      margin-left: 5px;
    }

    /*target the quote box*/
    .quote-text
    {
      right: 20px;
      height: 150px;
      padding-bottom: 20px;
    }

    /*target the two divs for about-us and benefits*/
    #about-us, #benefits
    {
      display: block;
      height: fit-content;
      width: 90%;
      padding-bottom: 10px;
    }

    #benefits
    {
      float: left;
      margin-left: 10px;
    }

    /*types.html*/
    /*target the types divs*/
    #yoga-types div
    {
      clear: both;
      height: fit-content;
      width: 90%;
      margin: 0 0 10px 20px;
    }

    /*tutorials.html*/
    /*larger quote so need to adjust for better style and visibility*/

    .quote-text
    {
      height: 200px;
    }

    .tutorial-videos
    {
      display: block;
      width: fit-content;
      margin: 20px 20px 10px 20px;
      width: 90%;
    }    

    /*signup.html*/
    #form-outer
    {
      width: 80%;
      margin: 20px 10% 10px 10%;
      padding-bottom: 10px;
    }

    .form-input
    {
      width: 85%;
      margin: 5px 20px 5px 20px;
    }
  }

  /*Small screen sizes with a max width of 700px*/
  /*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
  @media only screen and (max-width: 600px)
  {
    /*target the menu and main logo*/
    h1
    {
      font-size: 110%;
      margin-left: 10px;
      text-align: center;
    }

    #nav-links
    {
      font-size: 15px;
      letter-spacing: 1px;
      margin-left: 10px;
    }

    #nav-links li
    {
      margin-right: 15px;
    }

    /*index.html*/

    /*target the quote box on the image*/
    .quote-text
    {
      right: 10px;
      font-size: 100%;
      letter-spacing: 2px;
      height: 120px;
      width: 250px;
    }

    /*target the two divs on index.html*/
    #about-us, #benefits
    {
      display: block;
      height: fit-content;
      width: 90%;
      padding-bottom: 10px;
    }
    
    #benefits
    {
      float: left;
      margin-left: 10px;
    }

    footer
    {
      clear: left;
    }

    #socials i
    {
      margin-top: 20px;
    }
    
    /*yoga-types.html*/
    /*target the tyoes divs*/
    #yoga-types div
    {
      clear: both;
      height: fit-content;
      width: 90%;
      margin: 0 0 10px 20px;
    }

    /*tutorials.html*/
    .tutorial-videos
    {
      display: block;
      width: fit-content;
      margin-bottom: 10px;
    }

    /*sigup.html*/
    #form-outer
    {
      width: 80%;
      margin: 10px 10% 10px 10%;
      padding-bottom: 10px;
    }

    .form-input
    {
      width: 85%;
      margin: 5px 20px 5px 20px;
    }
  }